/* Write your CSS here */
.event-image {
  width: 250px;
  height: 150px;
  margin-bottom: 0px;
}
.event-name {
  font-family: 'Roboto';
  color: white;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.event-location {
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
  margin-top: 5px;
}
.event-item {
  margin: 20px;
}
.event-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .event-image {
    width: 350px;
    height: 200px;
  }
}
